<p>
  <mat-toolbar>
    <span>FrontEnd Angular</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" mat-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/">Solicitud</button>
      <button mat-menu-item routerLink="/estudiantes">Estudiantes</button>
      <button mat-menu-item routerLink="/profesores">Profesores</button>
      <button mat-menu-item routerLink="/personajes">Personajes</button>
      <button mat-menu-item routerLink="/about">About</button>
    </mat-menu>
  </mat-toolbar>
</p>
