<mat-grid-list cols="1" rowHeight="15:1" [formGroup]="myForm">
  <mat-grid-tile>
    <h1 style="text-align: center;">
      Realizar Solicitud
    </h1>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Edad</mat-label>
        <input matInput formControlName="age">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Patronus</mat-label>
        <input matInput formControlName="patronus">
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button color="primary" type="submit" [disabled]="!myForm.valid" (click)="onSubmit()">Solicitar</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <table mat-table [dataSource]="personajes" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="patronus">
        <th mat-header-cell *matHeaderCellDef> Patronus </th>
        <td mat-cell *matCellDef="let element"> {{ element.patronus !== "" ? element.patronus : 'Desconocido' }} </td>
      </ng-container>
      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef> Edad </th>
        <td mat-cell *matCellDef="let element"> {{ element.yearOfBirth }} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-grid-tile>
</mat-grid-list>
