<div fxFlexFill fxLayout="column" style="padding: 5px">
  <div fxFlex="none">
    <app-header></app-header>
  </div>

    <div fxFlex>
      <router-outlet></router-outlet>
    </div>

  <div fxFlex>
    <app-footer></app-footer>
  </div>
</div>
