<table mat-table [dataSource]="personajes" class="mat-elevation-z8">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="patronus">
    <th mat-header-cell *matHeaderCellDef> Patronus </th>
    <td mat-cell *matCellDef="let element"> {{ element.patronus !== "" ? element.patronus : 'Desconocido' }} </td>
  </ng-container>

  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef> Edad </th>
    <td mat-cell *matCellDef="let element"> {{ element.yearOfBirth !== "" ? 2021 - element.yearOfBirth : 'Desconocida' }} </td>
  </ng-container>

  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef> Imagen </th>
    <td mat-cell *matCellDef="let element"> <img [src]="element.image" /> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
